<%- include("partials/header") -%>
<%- include("partials/navbar-loggedin") -%>


<div class="box heading-box" id="main-heading">
  <h1 class="heading" id="listHeading"> <%= list.name %> </h1>
  <div id="changeTitleForm" hidden>
    <form action="/list?id=<%= list.id %>&action=changeTitle " method="post">
      <input type="text" name="listTitle" placeholder=" <%= list.name %> " autocomplete="off" class="heading" id="changeTitleInput">
      <button class="btn btn-outline-light" type="submit" name="list">→</button>
    </form>
  </div>
</div>

<div class="box list-box">
  <% list.items.forEach(item => { %>

  <form class="item" action="/list?id=<%= list.id %>&action=removeItem" method="post">
    <input type="checkbox" name="itemId" value="<%= item.id %> " onChange="this.form.submit()">
    <p><%=  item.name  %></p>
  </form>

  <% }) %>


  <form class="item" action="/list?id=<%= list.id %>&action=addItem" method="post">
    <input type="text" name="itemName" placeholder="New Item" autocomplete="off" style="width: 313px; text-align: center;">
    <button class="list-button" type="submit" name="list">+</button>
  </form>
</div>

<script>
  const heading = document.getElementById('listHeading');
  const changeTitleForm = document.getElementById('changeTitleForm');

  heading.addEventListener('click', function () {
    changeTitleForm.removeAttribute('hidden');
    heading.setAttribute('hidden','hidden');
  })
</script>

<%- include("partials/footer") -%>