<%- include("partials/header") -%>
<%- include("partials/navbar-loggedin") -%>


<div class="box heading-box" id="main-heading">
  <h1 class="heading"> <%= list.name %> </h1>
</div>

<div class="box list-box">
  <% list.items.forEach(item => { %>

  <form class="item" action="/list?id=<%= list.id %>&action=removeItem" method="post">
    <input type="checkbox" name="itemId" value="<%= item.id %> " onChange="this.form.submit()">
    <p><%=  item.name  %></p>
  </form>

  <% }) %>


  <form class="item" action="/list?id=<%= list.id %>&action=addItem" method="post">
    <input type="text" name="itemName" placeholder="New Item" autocomplete="off" style="width: 313px; text-align: center;">
    <button class="list-button" type="submit" name="list">+</button>
  </form>
</div>

<%- include("partials/footer") -%>